@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap");

body {
  background-color: #f5eaf3;
  /* background-image: url("/public/bkground.jpg");
  background-size: cover; */
}

.navbar {
  font-family: "Noto Sans Mono", monospace;
  background-color: #3b0f50;
  color: #eea4b9;
}

.lgnbtn {
  background-color: #eea4b9;
  color: #3b0f50;
}
.list-heading {
  color: #ee8faa;
}

.services {
  font-family: "Noto Sans Mono", monospace;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.MIcontainer {
  position: relative;
  text-align: center;
}
.example2 {
  /* border: 1px solid; */
  padding: 2px;
  box-shadow: 2px 2px #888888;
}
